#services{background-color: lightcyan;}

.button {
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.button2 {
    background-color: transparent; /* Green */
    border: white;
   border-style: solid;
    border-width: 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.madden{
     background-image: url("https://media.contentapi.ea.com/content/dam/ea/easports/madden/features/2017/june/10/longshot/hero-2/bg-xs.jpg");
}

.cod{
     background-image: url("paper.gif");
}